extends ../layout

block content

  div.page-header
    h1=title

  div(class="col-xs-4 col-xs-offset-4")
    include ../messages
    form(name="passwordReset", method="POST")
      div.form-group
        label Old Password
        input(type="password" name="oldPassword" class="form-control" )

      div.form-group
        div.row
          div.col-sm-6
            label New Password
            input(type="password" name="newPassword" class="form-control")
          div.col-sm-6
            label Confirm Password
            input(type="password" name="confirmPassword" class="form-control")

      div.form-group
        input(type="submit" value="Submit" class="btn btn-default pull-right")
